* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */

.login {
    margin: auto;
    padding: 30px 0;
    width: 250px;
    display: flex;
    flex-direction: column;
}

label {
    color: black;
    margin: 0.5rem 0;
    text-align: left;
}

input {
    margin: 0.5rem 0;
}

#submitIngresar,
#botonRegistrate {
    width: 100%;
}

#cerrarSesion {
    margin: 2rem auto;
    width: 30%;
    display: none;
    justify-content: center;
}



/* main */

.avisoRegistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

#formulario {
    display: none;
    flex-direction: column;
    margin: auto;
    width: 50%;

}

.labelRegisto {
    display: flex;
    justify-content: center;
}

.seccionesTajetas {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetaProducto {
    width: 80%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadoraMetros {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.botonCalculadora,
#divBotonSumarAlCarrito {
    width: 60%;
}

#botonCalcular,
#botonCalcular2,
#botonCalcular3,
#botonCalcular4 {
    width: 100%;
}

#valorPlatea,
#valorAlisado,
#valorExcavacion,
#valorRetiro {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    margin: 1rem;
    width: 100%;
}

#valorEstimado {
    text-align: center;
    margin: 10px;
    width: 60%;
}

#botonSumarAlCarrito,
#botonSumarAlCarrito2,
#botonSumarAlCarrito3,
#botonSumarAlCarrito4 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aquamarine;
    margin: 10px 0;

}

#carritoHTML,
#precioTotalHTML {
    width: 80%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}