* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */

.login {
    margin: auto;
    padding: 30px 0;
    width: 250px;
    display: flex;
    flex-direction: column;
}

label {
    color: black;
    margin: 0.5rem 0;
    text-align: left;
}

input {
    margin: 0.5rem 0;
}

#submitIngresar,
#botonRegistrate {
    width: 100%;
}

#cerrarSesion {
    margin: 2rem auto;
    width: 30%;
    display: none;
    justify-content: center;
}

/* main */

.avisoRegistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

#formulario {
    display: none;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.labelRegisto {
    display: flex;
    justify-content: center;
}

.seccionesTajetas {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 2px solid black;
    margin: 30px auto;
}

.contenedorProductos {
    width: 80%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto{
    margin: 10px auto;
    padding: 10px;
    background-color: aqua;
    border: 2px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoProducto{
    font-weight: bolder;
    font-size: 1.2rem;
}

.agregar{
    padding: 5px;
    
}
#vaciarCarrito, .terminarCompra, .botonBorrar{
    padding: 5px;
    margin: 20px;
}


#carritoHTML {
    width: 80%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.productoCarrito{
    display: flex;
    margin: 5px;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}